@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
html, body{
    width: 100%;
    min-width: 375px;
    overflow-x: hidden;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    min-width: 375px;
    
}
*{
    -webkit-font-smoothing: antialiased;
    outline: none;
}
a{
    text-decoration: none;
    color: currentColor;
    font-size: inherit;
}
hr{
    height: 0px;
    border: none;
    border-bottom: 1px solid gainsboro;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::scrollbar {
    width: 0px;
    background: transparent;
}
.fl-r{
    float: right;
}
video{
    background-color: #d8d8d8;
}
nav{
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 3px 15px -10px black;
    margin: -1px;
    padding: 1px;
}
.ep-detail>table, .ep-box-content, .em-box-content, .ev-box-content, .eyetube>h1{
    position: relative;
}
.m-top, .ev-box-content, .container, nav{
    float: left;
    width: 100%;
}
.ep-box-content, .em-box-content, .m-reg, .x-c, .dot, .p-container, .rek-ber-c>img, .f-l{
    float: left;
}
.m-log, .slct-lg, .f-r{
    float: right;
}
nav>.f-l, nav>.f-r{
    padding: 10px;
    color: #8ec429;
}
nav>img{
    padding: 4px 0px 3px;
}
.container{
    text-align: left;
}
.p-container{
    padding: 1%;
    width: 98% !important;
    text-align: center;
}
.trending{
    margin: 48px 3px -14px 3px;
    padding: 7px 0px;
    float: left;
    width: 100%;
    height: 35px;
    overflow-x: auto;
}
.trending .x-c a{
    padding: 5px 10px;
    border-radius: 13px;
    text-decoration: none;
    background-color: #FAFAFA;
    color: #9CCC65;
    font-size: .8em;
}
.x-c{
    width: max-content;
    padding-right: 8px;
}
.x-c span{
    border-radius: none;
    background-color: #8BC34A;
    padding: 5px 15px;
    margin-right: 10px;
    color: #fdfffb;
    font-size: .9em;
    position: absolute;
    top: 50px;
}
.x-c input{
    background-color: transparent;
    border: none;
    color: rgb(70, 68, 68);
    font-size: 1em;
}
.x-c i{
    top: 6px;
    color: #FFF3E0;
}
.btn-play {
    margin: 0 auto;
    width: 25px;
    position: relative;
    top: -73%;
}
.btn-play>img{
    width: 25px;
}
.v-eyetube{
    width: 100vw;
    height: 56vw;
    overflow-y: hidden;
}
.v-eyetube>img{
    width: 100%;
    /* height: 100%; */
    position: relative;
    bottom: 100%;
    z-index: -1;
}
.v-eyetube::before{
    content: '';
    float: left;
    height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.6) 0,rgba(0,0,0,.3) 50%,transparent 100%);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.6) 0,rgba(0,0,0,.3) 50%,transparent 100%);
    background-image: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,.3) 50%,transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );    
}
.eyetube>h1{
    font-size: 1em;
    font-weight: 600;
    color: white;
    bottom: 45px;
    padding: 0px 10px;
    text-shadow: 1px 3px 10px rgba(0,0,0,.4);
    text-transform: capitalize;
    height: 1.191em;
    overflow: hidden;
}
.eyetube>span{
    position: relative;
    bottom: 55px;
    font-size: .6em;
    color: #e4dbdb;
    display: block;
    margin-bottom: -15px;
    padding-left: 10px;
    font-weight: 600;
}
.etube-content{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ededed;
    padding: 5px 0px;
}
.v-etube{
    width: 150px;
    height: 85px;
    overflow-y: hidden;
    float: left;
}
.v-etube>img{
    width: 100%;
}
.etube-content>h1{
    padding: 0px 10px;
    font-size: .85em;
    color: #424242;
    font-weight: 500;
    text-transform: capitalize;
    float: left;
}
.etube-content>span{
    float: left;
    font-size: .75em;
    display: block;
    padding: 0px 10px;
    width: 50%;
    position: relative;
    /* top: -10px; */
}
.tab2{
    padding-top: 30px;
}
.tab2 .left, .tab2 .right, .use-opacity .left, .use-opacity .right{
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 1s;
    animation-name: fade2;
    animation-duration: 1s;
}
@-webkit-keyframes fade2 {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade2 {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}
.tab2>span{
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
    /* color: rgb(192, 192, 192); */
    padding-bottom: 6px;
    margin: 10px;
}
.tab2>span:hover, .orange-active:hover{
    border-bottom: 4px solid #FF5722 !important;
    color: #FF5722 !important;
}
.box{
    width: 100%;
}
.rek-ber-c{
    width: 100%;
    height: 109px;
    margin: 5px 0px;
    overflow: hidden;
}
.rek-ber-c>img{
    padding-right: 10px;
    width: 142px;
    margin: 7px 0px;
    display: block;
}
.rek-ber-c>span{
    font-size: .65em;
    color: gray;
    font-weight: 500;
}
.rek-ber-c>h1{
    line-height: 1em;
    font-size: .9em;
    font-weight: 400;
    margin-top: 1px;
}
.rek-ber-c>p{
    font-size: .7em;
    color: #9E9E9E;
}
.rek-ber-c>.img-res-height{
    padding-right: 10px;
    width: 150px;
    height: 90px;
    margin: 7px 0px;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.rek-ber-c>.img-res-height>img{
    width: 100%;
}
.ev-box-content{
    width: 330px;
    min-height: 185px;
    border-radius: 9px;
    margin: 0px 2px;
    background-color: #d8d8d8;
}
.ev-box-content>img{
    width: 330px;
}
.dot {
    margin: 2.5px;
    height: 10px !important;
    width: 10px !important;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    border: none;
}
.w-max{
    width: max-content;
}
.m-l-100{
    margin-left: 100px;
}
.pd-t-10{
    padding-top: 10px;
}
.over-x{
    overflow-x: scroll;
}
.t-10{
    position: relative;
    top: 10px;
}
.jp{
    font-size: .8em;
    font-weight: 600;
}
.green{
    color: #25ab2a;    
}
.border-box{
    float: left;
    width: 97%;
    min-width: 365px;
    height: 100%;
    padding-left: 5px;
    margin-top: 10px;
}
.bg-g{
    background-color:#f9f9f9;
    padding: 10px 0px;
    border-radius: 6px;
}
.day-choose{
    width: 80px;
    float: left;
}
.day-choose>a{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 500;
    color: #9E9E9E;
}
.day-choose>a>span{
    display: block;
    font-weight: 300;
    color: #BDBDBD;
    font-size: .75em;
}
.border-b>tbody>tr>td{
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 8px;
    height: 27px;
}
.border-b .tx-c{
    font-size: .8em;
    font-weight: 500;
}
.border-b .tx-l, .border-b .tx-r{
    font-weight: 600;
    text-transform: uppercase;
}
.border-b>tbody>tr>td>.i-r, .border-b>tbody>tr>td>.i-l{
    position: relative;
    top: 7px;
}
.border-b>tbody>tr>td>.i-r>img, .border-b>tbody>tr>td>.i-l>img{
    width: 25px;
}
.border-b>tbody>tr>.tx-r, .border-b>tbody>tr>.tx-l{
    padding-top: 10px;
}
.border-b>tbody>tr>td>.i-l{
    left: 15px;
}
.border-b>tbody>tr>td>.i-r{
    right: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: .7em;
}
td {
    padding: 8px;
}
th{
    padding: 18px 8px;
    font-weight: 600;
}
table, .tx-l{
    text-align: left;
}
.tx-r{
    text-align: right;
}
.t-tab, .tx-c{
    text-align: center;
}
.t-live {
    display: block;
    color: #9E9E9E;
}
.t-tab {
    vertical-align: middle;
    width: 250px;
    margin: 0 auto;
}
.t-active>a, .t-active>a>span {
    color: #424242 !important;
    font-weight: 600;
}
.btn-green{
    font-size: .8em;
    background-color: transparent;
    border: 1px solid #8BC34A;
    padding: 7px 20px;
    border-radius: 4px;
    color: #8BC34A;
}
.t-c-b{
    width: 185px;
    margin: 0 auto;
    padding: 18px 0px;
}
.bx-nav i{
    color: gray;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
}
.bx-nav i:hover{
    color: #FF9100;
}
.i-bx-l{
    float: left;
    margin-left: 10px;
}
.i-bx-r{
    float: right;
    margin-right: 10px;
}
.red-active{
    border-bottom: 3px solid #FF5722;
    color: #FF5722 !important;
}
.banner-150{
    height: 130px;
    background-color: greenyellow;
}
.slct-lg {
    padding: 10px 20px;
    border: 1px solid #d5d8d5;
    background-color: transparent;
    outline: none;
    font-size: .75em;
    border-radius: 3px;
}
.jp-k{
    padding-left: 5px;
    font-weight: 600;
    float: left;
    margin-top: 10px;
}
.w-165{
    width: 165px;
}
.m-b-20{
    margin-bottom: 20px;
}
.pd-l-0{
    padding-left: 0px;
}
footer{
    width: 100%;
    float: left;
    background-color: #eee;
    color: #999;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
}
footer>p{
    font-weight: 400;
    font-size: .8em;
}
.close{
    width: 100%;
    height: 100%;
    background-color: transparent;
    float: left;
    position: fixed;
}
nav>.f-r:hover{
    color: #2e93fb;
}
.searchbox{
    display: none;
    width: 100%;
    position: fixed;
    float: left;
    height: 100%;
    padding: 10px;
    top: 46px;
    background-color: #00000099;
    -webkit-animation-name: fade;
    -webkit-animation-duration: .8s;
    animation-name: fade;
    animation-duration: .8s;
    z-index: 2;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
}
.searchbox>button{
    font-size: 1em;
    padding: 8px 30px;
    background-color: #2e93fb;
    border: 1px #2e93fb;
    color: white;
    border-radius: 20px;
    margin-left: -90px;
}
.searchbox>input{
    width: 89%;
    border: 1px solid #3790ff;
    border-radius: 25px;
    background-color: white;
    padding: 8px;
    color: #3790ffad;
    font-size: 1em;
    font-weight: 100;
    text-transform: capitalize;
    z-index: 10;
}
.menu{
    display: none;
    position: fixed;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 11;
    font-size: 1.35em;
    font-weight: 100;
    -webkit-animation-name: fade;
    -webkit-animation-duration: .8s;
    animation-name: fade;
    animation-duration: .8s;
    top: 0px;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
}
.m-log, .m-reg, .menu>a{
    color: #5d6362;
    text-decoration: none;
    display: block;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
}
.menu>a{
    padding: 12px 15px;  
}
.menu>a>img{
    padding-right: 10px;
    width: 25px;
    position: relative;
    top: 3px;
}
.m-log, .m-reg{
    width: 50%;
}
.m-log{
    text-align: right;
}
.m-top i{
    color: orange;
    font-size: 28px;
    padding: 10px 15px;
    position: relative;
    top: 5px;
    margin-bottom: 8px;
}
.m-top{
    border-bottom: 1px solid #EEE;
    margin-bottom: 40px;
}
.menu>span{
    font-size: .75em;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
}
.em-box-content {
    width: 150px;
    min-height: 85px;
    margin: 3px;
    border: 1px solid #d8d8d8;
    animation: move 10s infinite;
    -webkit-animation: move 10s infinite;
}
@-webkit-keyframes move {
    10% {right: 0px;}
    20% {right: 158px;}
    30% {right: 158px;}
    40% {right: 316px}
    50% {right: 316px;}
    60% {right: 415px;}
    70% {right: 415px;}
    90% {right: 0px;}
}
@keyframes move {
    10% {right: 0px;}
    20% {right: 158px;}
    30% {right: 158px;}
    40% {right: 316px}
    50% {right: 316px;}
    60% {right: 415px;}
    70% {right: 415px;}
    90% {right: 0px;}
}
.em-box-content:hover{
    box-shadow: 0 0 4px 1px rgba(204,204,204,.48);
}
.em-box-content>img{
    width: 150px;
    height: auto;
}
.em-box-content>p{
    font-size: .7em;
    font-weight: 500;
    color: #FFD600;
    padding: 0px 5px;
}
.em-box-content>h1{
    font-size: .85em;
    color: #616161;
    padding: 0px 5px;
    line-height: 1em;
    font-weight: 500;
}
.em-box-content>button{
    padding: 5px;
    width: 140px;
    background-color: transparent;
    border: 1px solid #8ec429;
    color: #91c500;
    font-weight: 500;
    margin: 5px;
}

.ep-box-content{
    width: 300px;
    height: 110px;
    margin: 3px;
    animation: epmove 13s;
    -webkit-animation: epmove 13s;
    overflow: hidden;
}
@-webkit-keyframes epmove {
    10% {right: 0px;}
    20% {right: 308px;}
    30% {right: 308px;}
    40% {right: 616px}
    50% {right: 616px;}
    60% {right: 924px;}
    70% {right: 924px;}
    90% {right: 0px;}
}
@keyframes epmove {
    10% {right: 0px;}
    20% {right: 308px;}
    30% {right: 308px;}
    40% {right: 616px}
    50% {right: 616px;}
    60% {right: 924px;}
    70% {right: 924px;}
    90% {right: 0px;}
}
.ep-box-content>.img>img{
    width: 300px;
    height: auto;
    float: left;
}
.ep-box-content>.img{
    height: 110px;
    float: left;
    width: 80px;
}
.ep-box-content>.img::before{
    position: absolute;
    content: '';
    float: left;
    height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%,rgba(255,255,255,0) 29%,rgba(255,255,255, 0.15) 54%,rgba(255,255,255, 0.6) 100%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%,rgba(255,255,255,0) 29%,rgba(255,255,255, 0.15) 54%,rgba(255,255,255, 0.6) 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.18) 29%,rgba(255, 255, 255, 0.63) 54%,rgb(255, 255, 255) 100%);
}
.ep-detail{
    position: relative;
    float: left;
    width: 220px;
}
.ep-detail>h1{
    font-size: 1em;
    color: #616161;
    padding: 0px 5px;
    line-height: 1em;
    font-weight: 600;
    float: left;
    display: block;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.24);
}
.ep-detail>p{
    font-size: .85em;
    font-weight: 500;
    color: #616161;
    padding: 0px 5px;
    float: left;
}
.ep-detail>table{
    left: -3px;
    font-size: .8em;
    line-height: 0px;
    color: #616161;
    font-weight: 500;
}
.eme-box{
    width: 117px;
    height: 117px;
    float: left;
    border: 2px solid white;
}
.eme-box>img{
    height: 100%;
}
.over-no{
    overflow: hidden;
}
.pd-l-4{
    padding-left: 4px !important;
}
.m-b-15{
    margin-bottom: -15px;
}
.etube-v-title-mobile{
    position: relative;
}
.etube-v-title-mobile>h1{
    font-size: .9em;
    padding-left: 12px;
    font-weight: 300;
    margin-bottom: 0px;
    display: inline-block;
}
.etube-v-title-mobile>span{
    padding-left: 12px;
    font-size: .65em;
    display: block;
}
.etube-share>i{
    font-size: 1.5em;
    color: #4e4e4e;
    width: 80px;
}
.etube-share>i:nth-last-of-type(1){
    width: 60px;
}
.etube-share>i>span{
    font-size: 0.5em;
    position: relative;
    top: -7px;
    left: -5px;
    padding: 2px 4px;
    background-color: #ea2a2a;
    border-radius: 12px;
    color: white;
    min-width: 0px;
    font-weight: 600;
    font-family: sans-serif;
}
.border-top-bottom{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.etube-share{
    padding: 5px 0px 10px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 320px;
    margin: 0 auto;
    float: unset;
}
.etube-share>.more{
    position: relative;
    top: 3px;
    left: -5px;
}
.arrow-right-etube{
    position: absolute;
    top: 8px;
    font-size: 1.2em !important;
    right: 10px;
}
.up-next-etube{
    margin-top: 10px;
    display: inline-block;
    font-size: .9em;
}
.container-94{
    width: 94%;
    margin-left: 2%;
    float: left;
}
.v-etube-detail{
    width: 130px;
    height: 78px;
    overflow-y: hidden;
    float: left;
}
.v-etube-detail>h1{
    margin-top: 0px;
    height: 2.5em;
    width: 200px;
    overflow: hidden;
}
.etube-content-detail>h1{
    margin-top: 0px;
    max-height: 2.5em;
    width: 200px;
    overflow: hidden;
}
.b-b-1{
    border-bottom: 1px solid gainsboro;
}
.b-t-1{
    border-top: 1px solid gainsboro;
}
.unset .etube-content{
    border-bottom: unset;
    padding: 4px 0px;
}
.box-komentar{
    width: 100%;
    float: left;
    padding: 10px 0px;
    border-bottom: 1px solid gainsboro;
}
.item-komentar .img-radius, .box-komentar .img-radius{
    width: 40px;
    overflow: hidden;
    height: 40px;
    background-color: gainsboro;
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.img-radius{
    border-radius: 50%;
    overflow: hidden;
}
.item-komentar .img-radius img, .box-komentar .img-radius img{
    height: 100%;
    /* margin-left: -30%; */
}
.input-komentar{
    display: inline-block;
    float: left;
    width: initial;
    margin-left: 10px;
}
.input-komentar input{
    border: unset;
    padding: 10px;
    font-size: .99em;
    font-weight: 300;
    width: 270px;
}
.item-komentar{
    width: 100%;
    float: left;
    border-bottom: 1px solid gainsboro;
    padding: 15px 0px;
}
.text-komentar{
    float: left;
    margin-left: 10px;
    width: 290px;
}
.text-komentar p{
    line-height: 1.2em;
    float: left;
    width: 100%;
    margin: 0 0 5px 0;
    font-size: .9em;
}
.text-komentar h3{
    font-size: .65em;
    font-weight: 500;
    color: gray;
    display: inline;
}
.text-komentar span{
    font-size: .65em;
    color: gray;
}
.item-komentar:nth-last-of-type(1){
    margin-bottom: 15px;
    border-bottom: unset;
}
.box-notif{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000007d;
    z-index: 10;
    display: none;
}
.box-notif .box-notif-content{
    width: 95.5%;
    background-color: white;
    padding: 10px 0px;
    text-align: center;
    bottom: 0px;
    position: fixed;
    margin-left: 2%;
    border-radius: 5px 5px 0px 0px;
}
.box-notif .box-notif-content a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1em;
    color: black;
}
.etube-v-title-mobile .deskripsi{
    height: 0px;
    overflow: hidden;
}
.etube-v-title-mobile .deskripsi p{
    font-size: .8em;
    padding: 0px 12px 10px 12px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 0px;
    height: max-content;
    overflow: hidden;
}
.heightControl2{
    z-index: -1;
    color: transparent;
}
.heart-first:hover, .heart-first:active, .heart-first:visited{
    color: red;
}
.container-comment{
    position: fixed;
    background-color: white;
    height: 100%;
    width: 95.5%;
    margin-left: 2%;
    z-index: 10;
    top: 60px;
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 15px -7px #383737bd;
}
.menu-ketegori>a:nth-of-type(n+7){
    padding: 15px 49px;
    font-size: .8em;
    background-color: #FAFAFA;
    text-transform: uppercase;
}
.menu-ketegori>span:nth-last-of-type(1){
    padding-top: 25px;
    display: block;
    background-color: #FAFAFA;
    border-top: 1px solid gainsboro;
}
.menu-bottom-etube{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid gainsboro;
    z-index: 2;
}
.menu-bottom-etube>i{
    color: #91c500;
    font-size: 2em;
    width: 24%;
    text-align: center;
    margin-top: 9px;
}
.etube-home{
    width: 100%;
    height: max-content;
    background-color: #fafafa;
    padding-top: 47px;
    float: left;
}
.etube-mobile-thumb{
    width: 95%;
    margin: 2.5%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px -6px black;
    overflow: hidden;
    position: relative;
}
.etube-mobile-thumb>img{
    width: 100%;
    overflow: hidden;
    /* max-height: 200px; */
}
.etube-mobile-thumb>.img{
    width: 100vw;
    height: 55vw;
    overflow: hidden;
}
.etube-mobile-thumb>.img>img{
    width: 100%;
}
.etube-mobile-thumb>.kategori{
    font-weight: 600;
    position: absolute;
    bottom: 80px;
    padding: 2px 7px;
    border-radius: 10px;
    background-color: #E53935;
    color: white;
}
.etube-mobile-thumb>h2{
    margin: 10px 0px 5px 10px;
    font-size: .9em;
    font-weight: 500;
    height: 38px;
    overflow: hidden;
    width: 95%;
}
.etube-mobile-thumb>span{
    margin: 0px 10px 10px;
    font-size: .7em;
    color: gray;
    display: block;
}
.headline-enews{
    width: 100%;
    float: left;
    top: -40px;
    position: relative;
    height: 50px;
    background-color: #D32F2F;
    color: #fce4ec;
    font-size: .8em;
}
.headline-enews>span{
    font-weight: 600;
    display: block;
    padding: 7px 0px 0px 15px;
}
.headline-enews>h2{
    margin: 0px;
    padding-left: 14px;
    font-size: 1.3em;
    font-weight: 600;
    height: 1.3em;
    overflow: hidden;
    width: 90%;
}
.video-thumb{
    width: 250px;
    overflow: hidden;
    margin-left: 15px;
    height: 220px;
    float: left;
}
.video-thumb>.v-thumb-img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.video-thumb>.v-thumb-img>img{
    width: 100%;
}
.video-thumb>h2{
    color: #212121;
    font-size: .9em;
    width: 95%;
    margin: 7px 0px;
    font-weight: 500;
    max-height: 2.7em;
    overflow: hidden;
}
.video-thumb>span{
    color: gray;
    font-size: .7em;
    margin: 0px;
    display: block;
    position: relative;
    top: -5px;
}
.no-decoration a{
    text-decoration: none;
}
.h3-red{
    font-size: 1em;
    color: #D32F2F;
    padding-left: 15px;
    font-weight: 500;
}
ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
    display: inline-block;
}
.crumb {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .9em;
    font-weight: 400;
    margin: 10px 0px;
    margin-top: 50px;
    margin-bottom: -47px;
 }
 .crumb li {
     color: #333;
     text-transform: uppercase;
     padding: 0px 10px;
     font-size: .8em;
     font-weight: 600;
 }
 .crumb li:nth-last-of-type(1n+2)::after{
     content: '/';
     padding-left: 5px;
     margin-right: -20px;
     color: #d8d8d8;
 }
 .crumb li:nth-last-of-type(1){
     color: #9E9E9E;
 }
 .crumb li a {
    display:block;
 }       
 .crumb li a:link,
 .crumb li a:visited {
    color:#777;
    text-decoration:none;
 }
 .crumb li a:hover,
 .crumb li a:focus {
    color:#dd2c0d;
 }
 .enews>.etube-mobile-thumb>h2{
     margin-top: -90px !important;
 }
 .enews-detail>h1{
    font-weight: 300;
    padding: 0px 10px;
    margin-top: 0px;
 }
 .enews-title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #d32f2fe0;
}
 .enews-title>h2{
    font-size: 1em;
    font-weight: 600;
    color: white;
    width: 90%;
    margin: 9px 5% 4px;
    height: 40px;
    overflow: hidden;
 }
 .enews-title>span{
    margin: 0px 5% 12px;
    font-size: .8em;
    font-weight: 600;
    color: white;
    width: 90%;
    display: block;
 }
 .profile-writer .img-radius{
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin: 10px;
 }
 .profile-writer .img-radius>img{
    width: 170%;
 }
 .profile-writer h3{
    font-weight: 400;
    color: gray;
    margin: 15px 0px 0px;
 }
 .profile-writer span{
    font-size: .8em;
    color: #404040;
    font-weight: 500;
    display: block;
 }
 .profile-writer>.share>i{
    color: white;
    border-radius: 50%;
    margin: auto 4% 15px;
 }
 .profile-writer>.share>i:nth-of-type(1){
    background-color: #3F51B5;
    padding: 8px 12px;
 }
 .profile-writer>.share>i:nth-of-type(2){
    background-color: #2196F3;
    padding: 8px 9px;
 }
 .profile-writer>.share>i:nth-of-type(3){
    color: red !important;
    font-size: 2.4em !important;
    position: relative;
    top: 8.5px;
}
.profile-writer>.share>i:nth-of-type(4){
    background-color: #607D8B;
    padding: 8px 8px;
}
.profile-writer>.share>i:nth-of-type(5){
    background-color: gainsboro;
    border-radius: 15px;
    padding: 5px;
    color: gray;
    position: relative;
    top: 7px;
    min-width: 17px;
    height: 31px;
}
.profile-writer>.share>i:nth-of-type(5) div{
    font-family: sans-serif;
    position: relative;
    width: 10px;
    font-size: .9em;
}
.profile-writer>.share>i:nth-of-type(5):hover{
    color: #504d4d;
}
.profile-writer>.share>i:nth-of-type(5):hover ~ .container-comment{
    display: block !important;
}
.img-usr{
    width: 35px;
    height: 35px;
    float: left;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    margin: 10px 10px 10px 15px;
}
.img-usr>img{
    min-width: 100%;
    height: 100%;
}
.emepost span{
    position: relative;
    top: 17px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.emepost>i{
    float: right;
    position: relative;
    display: inline-block;
    margin: 15px;
}
.eme-img-content{
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}
.eme-img-content>img{
    height: 100%;
    min-width: 100%;
}
.container-eme-like{
    padding: 15px 0px 10px;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}
.container-eme-like i{
    font-size: 1.4em;
    margin-right: 20px;
}
.container-eme-like li:nth-of-type(1){
    margin-bottom: 10px;
}
.container-eme-like li:nth-of-type(2){
    display: block;
}
.comment-eme a, .container-eme-like a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.comment-eme{
    width: 90%;
    margin-left: 5%;
    float: left;
    display: block;
    font-size: .9em;
}
.comment-eme li:nth-last-of-type(2){
    text-align: center !important;
    display: block !important;
    margin: 5px 0px !important;
    color: gray !important;
    font-weight: 500 !important;
}
.eme-time-post{
    color: gray !important;
    font-size: .7em !important;
    font-weight: 500 !important;
}
.info-box-notif{
    position: fixed;
    top: 40px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: none;
    padding-top: 20px;
}
.info-box-notif-content{
    width: 95%;
    overflow: hidden;
    margin-left: 1.5%;
}
.info-box-notif-content tr{
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.info-box-notif-content tr>td:nth-of-type(1){
    width: 50px;
    overflow: hidden;
    height: 50px;
    float: left;
    border-radius: 50%;
    padding: 0px;
    /* border: 1px solid gainsboro; */
    margin: 8px;
}
.info-box-notif-content tr>td:nth-of-type(1) img{
    height: 100%;
}
.info-box-notif-content tr>td:nth-of-type(2){
    float: left;
    max-width: 175px;
    vertical-align: middle;
    display: table-cell;
}
.info-box-notif-content tr>td:nth-of-type(2) a{
    font-weight: 600;
}
.info-box-notif-content tr>td:nth-of-type(2) span{
    display: block;
}
.info-box-notif-content tr>td:nth-of-type(3){
    max-width: 80px;
    display: block;
    float: left;
}
.info-box-notif-content tr>td:nth-of-type(3) a, .following-button:hover{
    display: block;
    padding: 2px 10px 4px;
    background-color: #2196F3;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    min-width: 40px;
    top: 14px;
}
.info-box-notif-content tr>td:nth-of-type(3) img{
    width: 100%;
}
.following-button, .info-box-notif-content tr>td:nth-of-type(3) a:hover{
    color: #2196F3 !important;
    background-color: transparent !important;
    border: 0.4pt solid gainsboro;
    font-weight: 500 !important;
}
.content-profile, .content-explore{
    width: 99vw;
    overflow: hidden;
    margin-left: .9vw;
    margin-right: -0.5vw;
}
.content-profile>.content-profile-item, .content-explore>.content-explore-item{
    width: 32.6vw;
    height: 32.6vw;
    float: left;
    overflow: hidden;
    margin-right: .3vw;
    margin-bottom: .2vw;
}
.content-profile>.content-profile-item>img, .content-explore>.content-explore-item>img{
    height: 100%;
    min-width: 100%;
}
.content-explore>.content-explore-item:nth-of-type(18n+1){
    width: 65.4vw;
    height: 65.4vw;
}
.content-explore>.content-explore-item:nth-of-type(18n+10){
    width: 65.4vw;
    height: 65.4vw;
    float: right;
    margin-right: .6vw;
}
.eme-prof-pict{
    width: 18vw;
    height: 18vw;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #E53935;
    margin: 0vw 5vw;
    float: left;
}
.eme-prof-pict img{
    min-width: 100%;
    height: 100%;
}
.eme-prof-user{
    float: left;
}
.eme-prof-user a{
    font-weight: 600;
    display: block;
}
.follow-button{
    display: block;
    color: white;
    background-color: #42A5F5;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    margin: 13px 0px;
    font-weight: 600;
    min-width: 100px;
    border: 1px solid #42A5F5;
}
.follow-button:hover{
    color: #42A5F5;
    background-color: white;
}
.eme-prof-desc{
    float: left;
    margin-top: 10px;
    display: block;
    margin: 10px 5vw;
    padding: 2px;
}
.tr-1-bold tr td{
    padding: 1px 8px;
}
.tr-1-bold{
    font-weight: 600;
    font-size: .9em;
}
.tr-1-bold tr:nth-of-type(1){
    font-weight: 500;
}
.tr-1-bold tr:nth-of-type(2){
    color: gray;
}
.tr-1-bold tr:nth-last-of-type(1) td{
    padding-bottom: 20px;    
}
.eprofile{
    margin-top: 70px;
    padding: 0 5%;
    width: 90%;
    float: left;
}
.eprofile .head{
    min-height: 200px;
    background-color: #1E88E5;
    color: white;
    margin: -15px -15px 0px;
    padding: 15px;
    border-radius: 50px 0px 0px;
}
.eprofile .img-radius{
    height: 70px;
    width: 70px;
    display: inline-block;
    border: 2px solid white;
    margin: -2px;
}
.eprofile .img-radius img{
    height: 100%;
}
.h2-text-bottom{
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 15px;
}
.tab-eprofile{
    height: 18px;
    margin: 7px;
}
.tab-eprofile a{
    text-transform: uppercase;
}
.tab-eprofile .active, .tab-eprofile a:hover{
    font-weight: 600;
    border-bottom: 5px solid;
    padding-bottom: 3px;
}
.table-scroll{
    height: 120px;
    overflow-y: scroll;
    margin-top: 10px;
    float: left;
    width: 100%;
}
.table-scroll-x{
    width: 100%;
    overflow-x: scroll;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.content-tab-eprofile tr td:nth-of-type(1){
    font-weight: 600;
}
.h3-orange{
    color: #FF9800;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}
.table-stripe tr:nth-of-type(2n+1){
    background-color: #F5F5F5;
}
.sub-menu{
    height: 25px;
    border-bottom: 1px solid #03A9F4;
    margin-bottom: 10px;
}
.sub-menu a{
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 600;
    padding-bottom: 3px;
    color: #BBDEFB;
}
.sub-menu a:hover, .sub-menu .active, .sub-menu a:active{
    color: #42A5F5;
    border-bottom: 3px solid;
}
.btn-orange{
    color: white;
    background-color: #FF9800;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 15px;
    font-weight: 500;
}
.btn-orange:hover{
    color: #FF9800;
    background-color: white;    
}
.user-data{
    border-radius: 7px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 1px 11px -5px #727277;
}
.user-data .subhead{
    float: left;
    height: 90px;
    width: 94%;
    text-align: center;
    padding: 10px;
}
.user-data .subhead .img-radius{
    height: 50px;
    width: 50px;
}
.user-data .subhead .img-radius img{
    margin: -3%;
    height: 108%;
}
.user-data .subhead h3{
    font-weight: 400;
    margin: 2px 0px;
    font-size: 1em;
}
.user-data .subhead span{
    font-size: .8em;
}
.user-data table{
    width: 94%;
    margin-left: 3%;
    text-transform: capitalize;
}
.user-data tr td:nth-of-type(1){
    font-weight: 500;
    color: #616161;
}
.user-data>a{
    color: #2a85ec;
    font-size: .8em;
    padding: 10px;
    display: block;
    float: left;
    border-top: 1px solid gainsboro;
    width: 94%;
    text-align: right;
    font-weight: 500;
    text-transform: capitalize;
}